<?xml version="1.0" encoding="UTF-8"?>
<Objects>
	<Controllers>
		<RestController id="MainController">
			<RequestMapping id="MainController" value="/index"></RequestMapping>
			<RequestMapping id="getUser" value="/getUser" method="POST" params="{username, password}" headers="{Content-Type: appcalition/json}"></RequestMapping>
			<RequestMapping id="greet" value="/greet"></RequestMapping>
		</RestController>
	</Controllers>
	<Entities>
		<Entity id="UserEntity"></Entity>
	</Entities>
	<Services>
		<Service></Service>
	</Services>
</Objects>